body * {
  box-sizing: border-box;
}

$pink: #ff7675;
$purp: #9b59b6;
$blue: #f5f6fa;
$anton: "Anton", sans-serif;

.container {
  width: 100%;
  height: 100vh;
  background-color: $pink;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cp-nav {
  position: fixed;

  &__button {
    background-color: $purp;
    border: 0px;
    appearence: none;
    border-radius: 100%;
    height: 220px;
    width: 220px;
    position: relative;
    color: white;
    font-size: 3em;
    z-index: 10;
    text-transform: uppercase;
    outline: 0;
    font-family: $anton;
    letter-spacing: 0.1em;
    line-height: 0.7em;
    cursor: pointer;

    span {
      display: inline-block;
      position: relative;
      transform: rotateY(0deg);
      transition: all 0.55s ease;
      line-height: 0.2em;
      transform-origin: center center;
    }

    &:hover {
      span {
        transform: rotateY(360deg);
      }
    }
  }

  nav {
    visibility: visible;
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    ul {
      position: inherit;
      width: 100%;
      height: 100%;
      width: inherit;
      height: inherit;
      margin: 0;
      padding: 0;
      transform: scale(0.9);
      transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    }

    li {
      display: inline-block;
      position: absolute;
      transform-origin: 157% 157%;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      @for $i from 1 through 8 {
        $maths: (360 / 8) * $i;

        &:nth-of-type(#{$i}) {
          transform: rotate(#{$maths}deg);

          a {
            transform: rotate(-#{$maths}deg);
          }
        }
      }

      a {
        position: relative;
        display: inline-block;
        color: $pink;
        font-family: $anton;
        background-color: $blue;
        text-decoration: none;
        border-radius: 100%;
        height: 70px;
        width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.45s ease;
        font-size: 1.6em;

        &:hover {
          background-color: $purp;
          color: $blue;
        }
      }
    }
  }

  &.is-active {
    nav {
      visibility: visible;
    }

    ul {
      transform: scale(1.3);
    }
  }
}