.body{
    background-color: #D6d6d6 ;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .daisy {
    position: relative;
    width: 200px;
    height: 200px;
  }
  
  .petal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: yellow;
    transition: transform 0.3s;
  }
  
  .petal:hover {
    transform: scale(1.2);
  }
  