



body{
    background-color: #D6d6d6 ;
}

.jumbotron{
    background-color:#319418 ;
}

.btn{
    background-color:#319418 ;
}
/* NAVIGATION CSS*/

/* ul {
  list-style-image: url('https://www.irishsurnames.com/coatsofarms/g/gleeson-coat-of-arms-family-crest.gif');
}   */

  nav a,
  nav a:after,
  nav a:before {
    transition: all .5s;
    color: #fff;
    display: block;
    padding: 15px;
  }
  nav a:hover {
    color: #D61800;
  }
  
  
  /* stroke */
  nav.stroke a,
  nav.fill a {
    position: relative;
  }
  nav.stroke a:after,
  nav.fill a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #D61800;
    height: 1px;
  }
  nav.stroke a:hover:after {
    width: 100%;
  }
  
  nav.fill a {
    transition: all 2s;
  }
  
  nav.fill a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
  }
  nav.fill a:hover {
    color: #D61800;
    z-index: 1;
  }
  nav.fill a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
  }
  /* NAVIGATION CSS*/

/* Body */

h1
{
  /* height: 100%; */
  /* padding-top: 50px; */
}

#chart{
  padding-bottom:5%;
}

/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* #time {
  position: relative;
  display: inline-block;
} */
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

select {
  width:100%;
}


  /*Footer*/
  footer{
    background-color: #319418;
    color: #fff;
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
  }

  

  .status{
    color: red
  }

  /* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoInstagram:hover {
  background-color: #CC4373;
}
.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoGithub:hover {
  background-color: #000000;
}



.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i,
.social-network a.icoInstagram:hover i,
.social-network a.icoGithub:hover i
 {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}


/* Data styles */

table [data-hidden] {
  display: none;
}
table tr td:last-of-type {
  /* background-color: white */
  /* border-color: white */
  margin-left: 25px;
}

.row.roomy {
  margin: 10px auto 25px;
}


/* CSS for input table*/
button.btn-space {
        margin-left: 1em;
    }